<html>
  <head>
    <title>Expenses Tracker</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="public/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="public/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/tinychanges.css">
    <!--===============================================================================================-->
    
   <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script>
      function showPassword() {
        var passwordField = document.getElementById("password_input");
        if (passwordField.type === "password") {
          passwordField.type = "text";
        } else {
          passwordField.type = "password";
        }
      }
    </script> 

  </head>

  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Expenses Tracker" property="og:title" />
    <meta content="Track Your Expenses" property="og:description" />
    <link
      rel="icon"
      href="http://i11.photobucket.com/albums/a168/evelynregly/minigifs/mini126.gif"
    />
    <title>Expenses Tracker</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body style="background-image: url('../../images/open.png')">
    <div class="container-login100">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
        <form class="login100-form validate-form" action="/setBalance/<%= data.uuid %>" method="POST">
          <span class="login100-form-title p-b-37"> Set your new limit! </span>
          <div class="wrap-input100 m-b-20">

            <input class="input100" type="number" name="availablebalance" id="availablebalance" placeholder="Enter Available Balance" min="0.01" step="0.01" value='<%=data.totalAvailBalance%>' required/>
            <span class="focus-input100"></span>
          </div>

          <div class="p-b-30"></div>
          
          <div class="container-login100-form-btn">
            <button class="login100-form-btn" style="font-family: SourceSansPro-Bold;">Change expense limit</button>
          </div>

          <div class="p-t-30 p-b-10"></div>

          <div class="container-login100-form-btn">
            <button class="loginnow100-form-btn">
              <a href='/home' style="text-decoration: none; color: black; font-weight: bold; font-family: SourceSansPro-Regular;"> Back to Home </a>
            </button>
          </div>
        </form>
      </div>
    </div>
    </body>
</html>